_node_red/flows.json
[
    {
        "id": "d45aff0facb9ebce",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "364d1653e43342c5",
        "type": "ui_colour_picker",
        "z": "d45aff0facb9ebce",
        "name": "",
        "label": "",
        "group": "ca117f93a1f872a2",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "f10b36f60c0dd39c",
                "432b0302e17f7661"
            ]
        ]
    },
    {
        "id": "f10b36f60c0dd39c",
        "type": "ui_text",
        "z": "d45aff0facb9ebce",
        "group": "ca117f93a1f872a2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RGB Color",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 720,
        "wires": []
    },
    {
        "id": "432b0302e17f7661",
        "type": "mqtt out",
        "z": "d45aff0facb9ebce",
        "name": "ColorPicker",
        "topic": "ligths",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a4ea5216eacef08",
        "x": 450,
        "y": 660,
        "wires": []
    },
    {
        "id": "a345268303eb42d3",
        "type": "ui_switch",
        "z": "d45aff0facb9ebce",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "ca117f93a1f872a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 820,
        "wires": [
            [
                "2a5f52ec53fb991a"
            ]
        ]
    },
    {
        "id": "2a5f52ec53fb991a",
        "type": "mqtt out",
        "z": "d45aff0facb9ebce",
        "name": "Light Switch",
        "topic": "ligths/switch",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1a4ea5216eacef08",
        "x": 470,
        "y": 820,
        "wires": []
    },
    {
        "id": "e9cfc8dc6ed20878",
        "type": "ui_spacer",
        "z": "d45aff0facb9ebce",
        "name": "spacer",
        "group": "ca117f93a1f872a2",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "ca117f93a1f872a2",
        "type": "ui_group",
        "name": "Chill Lights",
        "tab": "9929c4deb77dc1e9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a4ea5216eacef08",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "9929c4deb77dc1e9",
        "type": "ui_tab",
        "name": "Chill Lights",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]